@font-face {
    font-family: 'fuente1';
    src: url(../fonts/fuente1.otf);
}

@font-face {
    font-family: 'fuente2';
    src: url(../fonts/fuente2.ttf);
}

:root {
    --clr-rojo-fuerte: #CB0E0E;
    --clr-rojo-intermedio: #AC2828;
    --clr-rojo-oscuro: #280000;
    --clr-celeste: #00B7F3;
    --clr-celeste-oscuro: #0080BB;
    --clr-negro: #171818;
    --clr-gris: #E0E9EC;
    --clr-gris_oscuro: #647276;
    --clr-blanco: #FCFEFE;
    --ff-title: 'Oswald', sans-serif;
    --ff-serif: 'Open Sans', serif;
    --ff-logo: Helvetica;
    --ff-titillium: 'Titillium Web', sans-serif;
}


h3 {
    font-size: 1.2rem;
    font-family: fuente2;
}

p {
    font-family: fuente2;
    color: var(--clr-negro);
    text-align: left;
}

/* --------------- CONTACTO START --------------- */

.cuenta-presencial-container {   
    margin: 8em auto 4em auto;
    max-width: 1500px;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    grid-template-areas: 
    "titulo img"
    "texto texto"
    "btn-wsp btn-contactos";
}

.cuenta-presencial-container img{ 
    grid-area: img; 
    max-width: 100px;
    margin: 0 auto;
}

.cuenta-presencial-container h3 {
    grid-area: titulo;
    font-family: fuente1;
    color: var(--clr-rojo-intermedio);
    margin-bottom: .5em;
    font-size: 1.8rem;
    text-align: left;
}

.cuenta-presencial-container p {
    grid-area: texto;
    font-family: fuente2;
}

.cuenta-presencial-container-wsp {
    text-align: left;
}

.cuenta-presencial-container-wsp-img {
    grid-area: btn-wsp;
    background-color: var(--clr-celeste);
    width: 8; /* Set the width */
    height: 80px; /* Set the height (same as width) */
    border-radius: 50%; /* Makes it round */
    padding: .9em;
}

.cuenta-presencial-container-contactos {
    grid-area: btn-contactos
}

/* --------------- CONTACTO END --------------- */

/* Desktop */
@media (min-width: 769px) {
    .cuenta-presencial-container {   
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "titulo titulo img"
        "texto texto img"
        "btn-wsp btn-contactos img";
    }
}
