/* --------------- ABRIR CUENTA START --------------- */

.abrir-cuenta-comitente-container{    
    max-width: 900px;
    margin: 6em auto;
    padding: 0 2em;
}

.abrir-cuenta-comitente-encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: var(--clr-celeste-oscuro);
    font-weight: 700;
    font-family: fuente1;
    font-size: var(--fs-mobile-4);
    border: 1.5px solid var(--clr-gris);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: .8em 1em;
    border-radius: 68px;
    margin: 0 1em 3em 1em;
    background-color: var(--clr-blanco);
}

.abrir-cuenta-comitente-box {    
    border-top: 1px solid var(--clr-celeste);
    border-bottom: 1px solid var(--clr-celeste);
    padding: 1.5em 0;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    grid-template-areas: 
    "titulo img"
    "texto img"
    "btn-contactos btn-contactos";
}

.abrir-cuenta-comitente-imagen{ 
    grid-area: img; 
    max-width: 100px;
    margin: 0 auto;
}

.abrir-cuenta-comitente-box h3 {
    grid-area: titulo;
    width: 100%;
    font-family: fuente1;
    color: var(--clr-rojo-intermedio);
    font-size: var(--fs-mobile-3);
    text-align: left;
    font-weight: 700;
}

.abrir-cuenta-comitente-box p {
    grid-area: texto;
    font-family: fuente1;
    text-align: left;
    color: var(--clr-negro);
    font-size: var(--fs-mobile-4);
    font-weight: 700;
    margin-bottom: 1em;
}

.abrir-cuenta-comitente-box-contactos {
    grid-area: btn-contactos;
}


/* --------------- ABRIR CUENTA END --------------- */

/* Desktop */
@media (min-width: 1200px) {
    .abrir-cuenta-comitente-container{    
        margin: 12em auto 4em auto;
    }    

    .abrir-cuenta-comitente-encabezado {    
        font-size: var(--fs-desktop-4);
    }

    .abrir-cuenta-comitente-imagen {
        max-width: none;
    }

    .abrir-cuenta-comitente-box h3,
    .abrir-cuenta-comitente-box p {
        font-size: var(--fs-desktop-3);
    }    
}
