h3 {
    font-size: 1.2rem;
    font-family: fuente2;
}

.cuenta-presencial-container{
    padding: 0 2em;
    max-width: 1500px;
    margin: 6em auto;
}

/* --------------- CUENTA PRESENCIAL START --------------- */

.cuenta-presencial-hero {
    margin: 8em auto 4em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    grid-template-areas: 
    "titulo titulo img"
    "texto texto texto"
    "btn-wsp btn-contactos btn-contactos";
}

.cuenta-presencial-imagen{ 
    grid-area: img; 
    max-width: 80px;
    margin: 1em auto 0 auto;
}

.cuenta-presencial-hero h3 {
    grid-area: titulo;
    font-family: fuente1;
    color: var(--clr-rojo-fuerte);
    margin-bottom: .5em;
    font-size: var(--fs-mobile-2);
    text-align: left;
}

.cuenta-presencial-hero p {
    grid-area: texto;
    font-family: fuente2;
    text-align: left;
    color: var(--clr-negro);
    font-size: var(--fs-mobile-5);
    margin: 1em 0;
}

.cuenta-presencial-hero-wsp {
    text-align: left;
}

.cuenta-presencial-hero-wsp-img {
    grid-area: btn-wsp;
    background-color: var(--clr-celeste);
    width: 8;
    border-radius: 50%;
    padding: .9em;
}

.cuenta-presencial-hero-contactos {
    grid-area: btn-contactos;
    max-width: 70%;
    margin: auto 0;
}

/* --------------- DOCUMENTACIÓN START --------------- */

.documentacion-box {
    justify-content: space-around;
}


.documentacion-container h3 {
    font-family: fuente1;
    color: var(--clr-negro);
    margin: 2em 0;
    font-size: var(--fs-mobile-3);
}

.documentacion-titulo {
    cursor: pointer;
    font-family: fuente1;
    font-weight: bold;
    color: var(--clr-celeste);
    font-size: var(--fs-mobile-4);
}

.documentacion-texto p {
    margin: 1em 0;
    background-color: var(--clr-gris);
    padding: 1em 2em;
    font-family: fuente2;
    color: var(--clr-negro);
    border-radius: 18px;
    font-size: var(--fs-mobile-5);
}

/* --------------- DOCUMENTACIÓN END --------------- */


/* --------------- CUENTA PRESENCIAL END --------------- */

/* Desktop */
@media (min-width: 1200px) {

    .cuenta-presencial-container {
        max-width: 1200px;
    }
    .cuenta-presencial-hero {  
        margin-top: 12em; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "titulo titulo img"
        "texto texto img"
        "btn-wsp btn-contactos img";
    }

    .cuenta-presencial-imagen{ 
        grid-area: img; 
        max-width: 200px;
        margin: 0 auto;
    }

    .cuenta-presencial-hero h3 {
        font-size: var(--fs-desktop-2);
    }
    
    .cuenta-presencial-hero p {
        font-size: var(--fs-desktop-5);
    }

    /* --------------- DOCUMENTACIÓN START --------------- */

    .documentacion-box {
        display: flex;
        gap: 4em;
    }

    .documentacion-container h3 {
        font-size: var(--fs-desktop-3);
    }

    .documentacion-titulo {
        font-size: var(--fs-desktop-4);
        cursor: auto;
    }

    .documentacion-flecha {
        display: none;
    }

    .documentacion-texto p {
        font-size: var(--fs-desktop-5);
    }

/* --------------- DOCUMENTACIÓN END --------------- */


}
