#aranceles-table-container, 
.aranceles-container {
    max-width: 1500px;
}

/* --------------- ARANCELES START --------------- */

.aranceles-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    grid-auto-rows: auto;
    padding: 0 2em;
    margin: 6em auto;
}

.aranceles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    font-weight: bold;
    font-family: fuente1;
}

.aranceles-texto-titulo {
    font-family: fuente1;
    color: var(--clr-rojo-fuerte);
    font-size: var(--fs-mobile-2);
}

.aranceles-texto-descripcion {
    font-family: fuente2;
    margin-top: 1em;
    margin-bottom: 2em;
    color: var(--clr-negro);
    font-size: var(--fs-mobile-6);
}

.selector-aranceles {
    width: 100%;
    position: relative;
    margin: 1em auto;
    font-family: Arial, sans-serif;
    text-align: left;
    color: var(--clr-blanco);
    background: rgb(208,26,28);
    background: linear-gradient(180deg, rgba(208,26,28,1) 30%, rgba(233,71,50,1) 100%);
}

.selector-box,
.selector-opcion {
    padding: 0.5em 1em;
}

.selector-box {
    display: flex;
    padding: 1em 1em;
    border-radius: 4px;
    cursor: pointer;    
}

.selector-box p{
    margin: auto 0;
    font-weight: bold;
    font-family: fuente1;
    font-size: var(--fs-mobile-3);
}

.selector-flecha {
    margin-left: auto;
    font-weight: bold;
    font-family: fuente1;
    font-size: var(--fs-mobile-2);
}

#selector-flecha-abajo {
    display: none;
    transform: rotate(90deg);
}

.selector-dropdown {
    font-family: fuente2;
    display: none;
    position: relative;
    width: 100%;
    border-radius: 4px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.selector-dropdown.active {
    display: block;
}

.selector-opcion {
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: var(--fs-mobile-5);
}

.aranceles-card {
    background-color: var(--clr-gris);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    padding: 1em .4em;
    grid-template-areas: 
    "aranceles-titulo aranceles-titulo aranceles-titulo"
    "aranceles-subtitulo1 aranceles-subtitulo2 aranceles-subtitulo3"
    "aranceles-precio1 aranceles-precio2 aranceles-precio3";
}

.aranceles-titulo {
    color: var(--clr-gris-oscuro);
    font-size: var(--fs-mobile-6);
    grid-area: aranceles-titulo;
    font-family: fuente1;
    margin-bottom: .5em;
}

.aranceles-subtitulo { 
    font-family: fuente2; 
    color: var(--clr-celeste);
    padding: 1em .5em;
    font-size: var(--fs-mobile-6);
}

.aranceles-subtitulo1 { grid-area: aranceles-subtitulo1; }

.aranceles-subtitulo2 { 
    grid-area: aranceles-subtitulo2; 
    border-left: 1px solid var(--clr-celeste);
    border-right: 1px solid var(--clr-celeste);
}

.aranceles-subtitulo3 { grid-area: aranceles-subtitulo3; }

.aranceles-precio { 
    font-size: var(--fs-mobile-6);
    font-family: fuente2; 
    color: var(--clr-negro);
    padding: 0 .5em;
}

.aranceles-precio1 { grid-area: aranceles-precio1; }
.aranceles-precio2 { 
    grid-area: aranceles-precio2; 
    border-left: 1px solid var(--clr-celeste);
    border-right: 1px solid var(--clr-celeste);
}

.aranceles-precio3 { grid-area: aranceles-precio3; }

#aranceles-table-container {
    padding: 1em;
    background-color: var(--clr-gris);
}

.aranceles-table {    
    border-spacing: 10px;
    width: 100%;
    border-collapse: collapse;
    font-size: var(--fs-desktop-5);
    text-align: left;
    table-layout: fixed;
}

.aranceles-table th {
    color: var(--clr-celeste);
    font-family: fuente1;
    padding: 0.75em;
    text-align: center;
}

.aranceles-table td {
    font-family: fuente2;
    padding: 0.75em;
    text-align: center;
    word-wrap: break-word;
}

.aranceles-table th:first-child, 
.aranceles-table td:first-child,
.aranceles-table th:nth-child(2),
.aranceles-table td:nth-child(2),
.aranceles-table th:nth-child(3),
.aranceles-table td:nth-child(3) {
     border-right: 2px solid var(--clr-celeste);
}

.aranceles-table th:first-child, 
.aranceles-table td:first-child,
.aranceles-table th:nth-child(2),
.aranceles-table td:nth-child(2),
.aranceles-table th:nth-child(3),
.aranceles-table td:nth-child(3),
.aranceles-table th:nth-child(4),
.aranceles-table td:nth-child(4) {
    width: 25%;
}

.aranceles-table-separador td:first-child,
.aranceles-table-separador td:nth-child(2),
.aranceles-table-separador td:nth-child(3) {
    border-right: 1px solid var(--clr-gris);
}

.aranceles-table td:first-child {
    color:var(--clr-gris-oscuro);
}

.aranceles-table td:nth-child(2),
.aranceles-table td:nth-child(3),
.aranceles-table td:nth-child(4) {
    color:var(--clr-negro);
}

.aranceles-texto p {
    font-size: var(--fs-mobile-6);
    color: var(--clr-gris-oscuro);
    text-align: left;
    font-family: fuente2;
}

/* --------------- ARANCELES END --------------- */

/* Desktop */
@media (min-width: 769px) {

    .aranceles-container {
        margin-top: 12em;
    }

    .selector-box {
        transition: background-color .5s ease-in-out;
    }

    .selector-box:hover {
        background-color: rgb(208,26,28);

    }

    .selector-box p{   
        font-size: var(--fs-desktop-4);
    }

    .selector-flecha {
        margin-right: .7em;
        transition: margin-right .5s ease-in-out;
    }
    
    .selector-box:hover .selector-flecha {
        margin-right: 0.1em;
    }

    .selector-opcion {
        font-size: var(--fs-desktop-5);
    }

    .aranceles-texto p {
        font-size: var(--fs-desktop-6);
    }
    
}
