/* --------------- CONTACTO START --------------- */

.contacto-container {   
    padding: 0 2em;
    max-width: 1200px;
    margin: 6em auto;
}

.contacto-card-imagen {
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img"
    "card";
}

.contacto-imagen { 
    grid-area: img; 
    max-width: 100px;
    margin: 0 auto;
}

.contacto-card {
    grid-area: card;
    position: relative;
    border: 1px solid transparent;    
    border-radius: 18px;
    padding: 2em;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(233, 233, 233));
    margin-bottom: 4em;
    color: var(--clr-negro);
    z-index: 1;
}

.contacto-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 18px;
    padding: 1px;
    background: linear-gradient(to bottom right, rgba(208, 26, 29, 0.200), rgba(173, 173, 173, 0.200));
    z-index: -1;
    mask: linear-gradient(var(--clr-gris) 0 0) content-box, linear-gradient(#000 0 0);
    mask-composite: exclude;
    -webkit-mask: linear-gradient(var(--clr-gris) 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
}


.contacto-card h3 {
    font-family: fuente1;
    color: var(--clr-rojo-fuerte);
    margin-bottom: .5em;
    font-size: var(--fs-mobile-2);
    font-weight: 800;
}

.contacto-card p {
    font-family: fuente2;
    font-size: var(--fs-mobile-5);
}

.contacto-datos {
    width: 100%;
    text-align: left;
}

.contacto-subtitulo {
    display: flex;
    margin-bottom: .8em;
    margin-top: 4em;
    align-items: center;
}

.contacto-subtitulo h3 {
    color: var(--clr-celeste-oscuro);
    font-weight: 700;
    font-family: fuente1;
    font-size: var(--fs-mobile-4);
}

.contacto-subtitulo img {
    margin-left: 1em;
}

.contacto-datos p {
    margin-bottom: .8em;
    color: var(--clr-negro);
    font-size: var(--fs-mobile-5);
    font-family: fuente2;
}

.contacto-datos-red {
    min-width: 40px;
}

#contacto-datos-red2,
#contacto-datos-red3 {
    margin-left:1em;    
}

.contacto-formulario {
    padding-top: 3em;
    margin-top: 3em;
    border-top: 1px solid var(--clr-celeste);
}

.contacto-formulario form {
    max-width: 800px;
    margin: 0 auto;
}

.contacto-formulario-titulo {
    color: var(--clr-rojo-fuerte);
    font-size: var(--fs-mobile-4);
    margin-bottom: .5em;
    font-family: fuente1;
    text-align: left;
    font-weight: 700;
}

.contacto-formulario-subtitulo {
    font-family: fuente2;
    color: var(--clr-negro);
    text-align: left;
    font-size: var(--fs-mobile-5);
}

.contacto-formulario-horario {
    color: var(--clr-gris-oscuro);
    margin: 1em 0;
    font-size: var(--fs-mobile-6);
    font-family: fuente2;
    text-align: left;
}

.contacto-formulario-item {
    margin-bottom: 1.5em;
}

.contacto-formulario-item-texto {
    font-size: var(--fs-mobile-6);
    color: var(--clr-gris-oscuro);
    margin-bottom: 0.5em;
    font-family: fuente2;
    text-align: left;
}

.contacto-formulario-input {
    width: 100%;
    padding: 0.8em;
    border: 1px solid var(--clr-gris-oscuro);
    border-radius: 18px;
    font-size: var(--fs-mobile-6);
    font-family: fuente2;
    transition: border-color 0.3s ease;
}

.contacto-formulario-input::placeholder {
    color: var(--clr-gris-oscuro);
}

.contacto-formulario-input:focus {
    border-color: var(--clr-celeste);
    outline: none;
    box-shadow: 0 0 4px rgba(0, 120, 215, 0.2);
}

.contacto-formulario textarea {
    resize: none;
    height: 100px;
}

.contacto-formulario button {
    background-color: var(--clr-blanco);
}

/* --------------- CONTACTO END --------------- */

/* Desktop */
@media (min-width: 1200px) {

    .contacto-container {
        margin-top: 12em;
    }

    .contacto-card-imagen {        
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "card img";
    }

    .contacto-imagen { 
        max-width: 350px;
        margin-right: 0;
    }

    .contacto-card {
        margin: 2em 0;
        padding: 4em 2em;
        text-align: left;
    }

    .contacto-card h3 {
        font-size: var(--fs-desktop-2);
    }

    .contacto-card p {
        font-size: var(--fs-desktop-5);
    }

    .contacto-subtitulo h3 {
        font-size: var(--fs-desktop-4);
    }

    .contacto-datos-box {
        display: flex;
    }

    .contacto-datos p {
        font-size: var(--fs-desktop-5);
    }

    .contacto-datos iframe {
        height: 50vh;
    }

    .contacto-formulario-titulo {
        text-align: center;
        font-size: var(--fs-desktop-4);
    }

    .contacto-formulario-subtitulo,
    .contacto-formulario-horario {
        text-align: center;
        font-size: var(--fs-desktop-5);
    }

    .contacto-formulario-item-texto,
    .contacto-formulario-input {
        font-size: var(--fs-desktop-6);
    }
}
