/* --------------- CONTACTO START --------------- */

.contacto-container {   
    margin: 4em auto 4em auto;
    max-width: 1500px;
    padding: 0 1em;
}

.contacto-card-imagen {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img"
    "card";
}

.contacto-imagen { 
    grid-area: img; 
    max-width: 100px;
    margin: 0 auto;
}

.contacto-card {
    grid-area: card;
    border: 1px solid var(--clr-rojo-fuerte);
    border-radius: 18px;
    padding: 2em;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(233, 233, 233));
    margin-bottom: 4em;
    color: var(--clr-negro);
}

.contacto-card h3 {
    font-family: fuente1;
    color: var(--clr-rojo-fuerte);
    margin-bottom: .5em;
    font-size: var(--fs-mobile-2);
}

.contacto-card p {
    font-family: fuente2;
    font-size: var(--fs-mobile-5);
}

.contacto-datos {
    width: 100%;
    text-align: left;
}

.contacto-subtitulo {
    display: flex;
    margin-bottom: .8em;
}

.contacto-subtitulo h3 {
    color: var(--clr-celeste-oscuro);
    font-weight: bolder;
    font-family: fuente1;
    font-size: var(--fs-mobile-4);
}

.contacto-datos p {
    margin-bottom: .8em;
    color: var(--clr-negro);
    font-size: var(--fs-mobile-5);
    font-family: fuente2;
}

.contacto-subtitulo img {
    margin-left: 1em;
}

.contacto-datos-red {
    min-width: 40px;
}

#contacto-datos-red2,
#contacto-datos-red3 {
    margin-left:1em;    
}

.contacto-formulario {
    border-top: 1px solid var(--clr-celeste);
    padding-top: 2em;
    margin-top: 2em;
}

.contacto-formulario-titulo {
    color: var(--clr-rojo-intermedio);
    font-size: var(--fs-mobile-4);
    margin-bottom: .5em;
    font-family: fuente1;
    text-align: left;
}

.contacto-formulario-subtitulo {
    font-family: fuente2;
    color: var(--clr-negro);
    text-align: left;
    font-size: var(--fs-mobile-5);
}

.contacto-formulario-horario {
    color: var(--clr-gris-oscuro);
    margin: 1em 0;
    font-size: var(--fs-mobile-6);
    font-family: fuente2;
    text-align: left;
}

.contacto-formulario-item {
    margin-bottom: 1.5em;
}

.contacto-formulario-item-texto {
    font-size: var(--fs-mobile-6);
    color: var(--clr-negro);
    margin-bottom: 0.5em;
    font-family: fuente2;
    text-align: left;
}

.contacto-formulario-input {
    width: 100%;
    padding: 0.8em;
    border: 1px solid var(--clr-negro);
    border-radius: 18px;
    font-size: var(--fs-mobile-6);
    font-family: fuente2;
    color: var(--clr-negro);
    transition: border-color 0.3s ease;
}

.contacto-formulario-input:focus {
    border-color: var(--clr-celeste);
    outline: none;
    box-shadow: 0 0 4px rgba(0, 120, 215, 0.2);
}

.contacto-formulario textarea {
    resize: none;
    height: 100px;
}

.contacto-formulario button {
    background-color: white;
}

/* --------------- CONTACTO END --------------- */

/* Desktop */
@media (min-width: 769px) {
    .contacto-card-imagen {        
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "card img";
    }

    .contacto-card {
        padding: 4em 2em;
        text-align: left;
    }

    .contacto-card h3 {
        font-size: var(--fs-desktop-2);
    }

    .contacto-card p {
        font-size: var(--fs-desktop-5);
    }

    .contacto-subtitulo h3 {
        font-size: var(--fs-desktop-4);
    }

    .contacto-datos p {
        font-size: var(--fs-desktop-5);
    }

    .contacto-formulario-titulo {
        text-align: center;
        font-size: var(--fs-desktop-4);
    }

    .contacto-formulario-subtitulo,
    .contacto-formulario-horario {
        text-align: center;
        font-size: var(--fs-desktop-5);
    }

    .contacto-formulario-item-texto,
    .contacto-formulario-input {
        font-size: var(--fs-desktop-6);
    }
}
