@font-face {
    font-family: 'fuente1';
    src: url(../fonts/fuente1.otf);
}

@font-face {
    font-family: 'fuente2';
    src: url(../fonts/fuente2.ttf);
}

:root {
    --clr-rojo-fuerte: #CB0E0E;
    --clr-rojo-intermedio: #AC2828;
    --clr-rojo-oscuro: #280000;
    --clr-celeste: #00B7F3;
    --clr-celeste-oscuro: #0080BB;
    --clr-negro: #171818;
    --clr-gris: #E0E9EC;
    --clr-gris_oscuro: #647276;
    --clr-blanco: #FCFEFE;
    --ff-title: 'Oswald', sans-serif;
    --ff-serif: 'Open Sans', serif;
    --ff-logo: Helvetica;
    --ff-titillium: 'Titillium Web', sans-serif;
}

/* --------------- FAQ START --------------- */

.faq-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    max-width: 600px;
    margin: 4em auto 4em auto;
    padding: 0 1em;
    grid-auto-rows: auto;
}

.faq-card {
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    font-weight: bold;
    font-family: fuente1;
}

.faq-text {
    text-align: left;
}

.faq-text-title {
    font-family: fuente1;
    color: var(--clr-rojo-fuerte);
    font-size: 1.4rem;
}

.faq-text-description {
    font-family: fuente2;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: .9rem;
}

.faq-text-description a {
    text-decoration: none;
}

.faq-title {
    flex-grow: 1;
    color: var(--clr-rojo-fuerte);
    font-size: .9rem;
}

.faq-toggle {
    font-size: 1.5em;
    color: var(--clr-negro);
    margin-left: 1em;
}

.faq-content {
    display: none;
    padding: 1em;
    background-color: var(--clr-blanco);
    font-size: .8em;
    color: var(--clr-negro);
    font-family: fuente2;
}

.faq-button-container {
    margin-top: 1em;
}

.faq-card.active .faq-content {
    display: block;
}

.faq-card.active .faq-toggle {
    content: "-";
    transform: rotate(180deg);
    color: var(--clr-rojo-fuerte);
}

.sector-box {
    border: 2px solid var(--clr-celeste-oscuro);
    padding: 1em;
    margin-top: 1em;
    font-family: Arial, sans-serif;
}

.sector-title {
    margin-bottom: 0.5em;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--clr-celeste-oscuro);
    padding-bottom: 0.5em;
}

.sector-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em 1em;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sector-list li {
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    position: relative;
    padding-left: 1em;
}

.sector-list li::before {
    content: '•';
    position: absolute;
    left: 0;
    font-size: 1.5em;
    line-height: 1;
}

/* --------------- FAQ END --------------- */

/* Desktop */
@media (min-width: 769px) {

    .faq-container {
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        align-items: start;
    }

    .faq-text {
        grid-column: span 2;
    }

    .faq-card:last-child {
        grid-column: span 2;
    }

    .sector-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .sector-box:last-child {
        grid-column: span 2;
    }
}
