/* --------------- FAQ START --------------- */

.faq-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    max-width: 600px;
    grid-auto-rows: auto;
    padding: 0 2em;
    margin: 6em auto;
}

.faq-card {
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    font-family: fuente2;
    font-weight: 700;
}

.faq-texto {
    text-align: left;
}

.faq-texto-titulo {
    font-family: fuente1;
    color: var(--clr-rojo-fuerte);
    font-size: var(--fs-mobile-2);
    font-weight: 800;
}

.faq-texto-descripcion {
    font-family: fuente2;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: var(--fs-mobile-5);
    font-weight: 400;
    color: var(--clr-negro);
}

.faq-texto-descripcion a {
    text-decoration: none;
}

.faq-titulo {
    flex-grow: 1;
    color: var(--clr-rojo-fuerte);
    font-size: var(--fs-mobile-5);
}

.faq-toggle {
    font-size: var(--fs-mobile-5);
    color: var(--clr-negro);
    margin-left: 1em;
}

.faq-contenido {
    display: none;
    padding: 1em;
    background-color: var(--clr-blanco);
    font-size: var(--fs-mobile-5);
    color: var(--clr-negro);
    font-family: fuente2;
}

.faq-contenido-texto-link {
    color: var(--clr-negro);
}

.faq-boton-container {
    margin-top: 1em;
}

.faq-card.active .faq-contenido {
    display: block;
}

.faq-card.active .faq-toggle {
    content: "-";
    transform: rotate(180deg);
    color: var(--clr-rojo-fuerte);
}

.sector-box {
    border: 2px solid var(--clr-celeste-oscuro);
    padding: 1em;
    margin-top: 1em;
    font-family: Arial, sans-serif;
}

.sector-titulo {
    font-family: fuente2;
    margin-bottom: 0.5em;
    font-size: var(--fs-mobile-5);
    font-weight: 700;
    color: var(--clr-celeste-oscuro);
    padding-bottom: 0.5em;
}

.sector-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em 1em;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sector-lista li {
    display: flex;
    align-items: center;
    font-size: var(--fs-mobile-5);
    color: var(--clr-negro);
    position: relative;
    padding-left: 1em;
    font-family: fuente2;
}

.sector-lista li::before {
    content: '•';
    position: absolute;
    left: 0;
    font-size: var(--fs-mobile-5);
    line-height: 1;
}

/* --------------- FAQ END --------------- */

/* Desktop */
@media (min-width: 1200px) {

    .faq-container {
        margin-top: 16em;
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        align-items: start;
    }

    .faq-texto {
        grid-column: span 2;
    }

    
    .faq-texto-titulo {
        font-size: var(--fs-desktop-2);
    }

    .faq-texto-descripcion,
    .faq-titulo,
    .faq-contenido p {
        font-size: var(--fs-desktop-5);
    }

    .faq-card:last-child {
        grid-column: span 2;
    }

    .sector-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .sector-box:last-child {
        grid-column: span 2;
    }

    .sector-titulo,
    .sector-lista {
        font-size: var(--fs-desktop-6);
    }
}

