/* --------------- FOOTER START --------------- */

.footer-informacion-container {
    background-color: var(--clr-negro);
}

.footer-informacion {
    width:100%;
    max-width: 1500px;
    text-align: left;
    padding: 1em 2em;
    display: inline-grid;
    align-items: top;
    margin: 0 auto;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "bloque1"
    "bloque2"
    "bloque3"
    "bloque4"
    "redes"
    "logo-texto"
    "contacto-informacion"
    "contacto";
}

.footer-informacion-bloque1 { grid-area: bloque1; }
.footer-informacion-bloque2 { grid-area: bloque2; }
.footer-informacion-bloque3 { grid-area: bloque3; }
.footer-informacion-bloque4 { grid-area: bloque4; }

.footer-informacion-titulo {
    font-size: var(--fs-mobile-3);
    font-family: fuente1;
    color: var(--clr-gris);
    letter-spacing: 2px;
    font-weight: bolder;
    margin-bottom: .5em;
    margin-top: .8em;
    line-height: 1.5em;
}

.footer-informacion-descripcion {
    color: var(--clr-blanco);
    font-family: fuente2;
    font-size: var(--fs-mobile-5);
    margin-bottom: .3em;
    font-weight: 400;
}

.footer-informacion-descripcion a {
    text-decoration: none;
    color: var(--clr-blanco);
}

.footer-informacion-input {
    width: 95%;
    padding: 0.50em 1em;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: var(--fs-mobile-5);
    font-family: fuente2;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--clr-blanco);
    color: var(--clr-gris-oscuro);
}

.footer-informacion-input::placeholder {
    color: var(--clr-gris-oscuro);
}

.footer-informacion-input:focus {
    border-color: var(--clr-celeste);
}

/* --------------- REDES SOCIALES START --------------- */

.footer-redes-sociales {
    grid-area: redes;
    padding: 2.5em 0 2em 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    grid-template-areas: 
    "red1 red2 red3";
}

.footer-red1 {grid-area: red1;}
.footer-red2 {grid-area: red2;}
.footer-red3 {grid-area: red3;}

.footer-red  {
    margin: 0 auto;
  }
/* --------------- REDES SOCIALES END --------------- */


/* --------------- LOGO TEXTO START --------------- */

.footer-logo-texto {
    width:100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    padding: 1em 0;
    grid-area: logo-texto;
}

.footer-logo-texto-descripcion {
    margin-bottom: 1rem;
    color: var(--clr-gris);
    font-size: var(--fs-mobile-6);
    font-family: fuente2;
    font-weight: 400;
    line-height: .8em;
}

.footer-logo-texto-box {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "img container"
}

.footer-logo-texto-img { 
    grid-area: img; 
    max-width: 90px;
    margin: 0 auto;
    width: 100%;
}
.footer-logo-texto-container { grid-area: container; }

/* --------------- LOGO TEXTO END --------------- */

/* --------------- CONTACTO INFORMACION START --------------- */

.footer-contacto-informacion {    
    grid-area: contacto;
    text-align: center;
    color: var(--clr-gris-intermedio);
    font-family: fuente2;
    font-size: var(--fs-mobile-6);
    margin: 0 auto;
}

.footer-contacto-informacion p {
    margin-bottom: 1em;
}

.footer-contacto-informacion a{
    text-decoration: underline;    
    color: var(--clr-gris-intermedio);
}


/* --------------- CONTACTO INFORMACION END --------------- */

/* --------------- INFORMACION NEGRO START --------------- */

.footer-informacion-negro {
    background-color: #000000;
}

/* --------------- LOGOS ORGANISMOS START --------------- */

.footer-logos-organismos {
    padding: 1em 4em;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "logo-organismo1 logo-organismo2"
        "logo-organismo3 logo-organismo4"
        "logo-organismo5 logo-organismo5";
    gap: .5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer-logo-organismo1 {grid-area: logo-organismo1;}
.footer-logo-organismo2 {grid-area: logo-organismo2;}
.footer-logo-organismo3 {grid-area: logo-organismo3;}
.footer-logo-organismo4 {grid-area: logo-organismo4;}
.footer-logo-organismo5 {grid-area: logo-organismo5;}

.footer-logo-organismo {
    padding: .6em;
    max-width: 150px;
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
}

.footer-logo-organismo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* --------------- LOGOS ORGANISMOS END --------------- */

/* --------------- COPYRIGHT START --------------- */

.footer-copyright{
    color: var(--clr-blanco);
    font-family: fuente3;
    font-size: var(--fs-mobile-7);
    padding-bottom: 4em;
}

/* --------------- COPYRIGHT START --------------- */

/* --------------- INFORMACION NEGRO END --------------- */

/* --------------- FOOTER END --------------- */


/* Desktop */
@media (min-width: 1200px) {

    /* --------------- FOOTER START --------------- */

    .footer-informacion {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "bloque1 bloque2 bloque3 bloque4"
        "redes redes redes redes"
        "logo-texto logo-texto logo-texto logo-texto"
        "contacto contacto contacto contacto";
    }

    .footer-informacion-titulo {
        font-size: var(--fs-desktop-4);
    }

    .footer-informacion-descripcion,
    .footer-informacion-input {
        font-size: var(--fs-desktop-5);
    }
  
    /* --------------- REDES SOCIALES START --------------- */

    .footer-redes-sociales {
        width: 20%;
    }

    /* --------------- REDES SOCIALES END --------------- */

    /* --------------- LOGO TEXTO START --------------- */

    .footer-logo-texto-descripcion {
        font-size: var(--fs-desktop-6);
    }

    /* --------------- LOGO TEXTO END --------------- */

    /* --------------- CONTACTO INFORMACION START --------------- */
    .footer-contacto-informacion {    
        width: 40%;
        font-size: var(--fs-desktop-6);
    }

    /* --------------- CONTACTO INFORMACION END --------------- */

    /* --------------- LOGOS ORGANISMOS START --------------- */

    .footer-logos-organismos {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "logo-organismo1 logo-organismo2 logo-organismo3 logo-organismo4 logo-organismo5";
    }

    /* --------------- LOGOS ORGANISMO END --------------- */

    /* --------------- COPYRIGHT START --------------- */

    .footer-copyright{
        font-size: var(--fs-desktop-7);
    }

    /* --------------- COPYRIGHT START --------------- */

    /* --------------- FOOTER END --------------- */

}