body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.top-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25vh;    
    z-index: -1; 
    background-image: url("../img/header/ola.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    z-index:1000;
    display: flex;
    align-items: center;
    padding: 0.5em 2em;
    background-color: var(--clr-gris);
    color: var(--clr-secondary);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.logo {
    height: 60px;
}

.nombre {
    display: none;
    color: var(--clr-rojo-fuerte);
    font-family: fuente1;
    margin-left: .9em;
    font-weight: bolder;
}

.botones {
    display: flex;
    gap: 0.5em;
    margin-left: auto;    
}

.boton {
    padding: 0.5em 1em;
    background-color: var(--clr-gris);
    color: var(--clr-primary);
    border: none;
    border-radius: 4px;
    font-size: var(--fs-mobile-5);
    font-weight: bold;
    cursor: pointer;
    float: right;
    font-family: fuente2;
}

.ingresar {
    color: var(--clr-rojo-intermedio);
}

.abrir {
    color: var(--clr-blanco);
    background-color: var(--clr-rojo-intermedio);
    border-radius: 18px;
}

.hamburguesa {
    cursor: pointer;
    margin-left: .5em;
}

.icono-menu-desktop {
    display: none;
}

.dropdown-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-gris);
    color: var(--clr-secondary);
    z-index: 1000;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em 2em;
    overflow-y: auto;
    box-sizing: border-box;
    min-width: 300px;
    
}

.dropdown-menu.active {
    display: flex;
}

.dropdown-item {
    font-family: fuente2;
    width: 100%;
    margin-bottom: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
}

.dropdown-header {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid white;
    padding-top: 1.5em;
    padding-bottom: .8em;
}

.dropdown-item.open .dropdown-header {
    color: var(--clr-rojo-fuerte);
    border-bottom: none; 
}

.dropdown-header span {
    font-size: var(--fs-mobile-5);
}

.dropdown-header img {
    margin-right: 1em;
    width: 20px;
    height: 20px;
}


.dropdown-item.open .dropdown-header-imagen {
    filter: invert(11%) sepia(99%) saturate(5023%) hue-rotate(354deg) brightness(94%) contrast(89%);
}

.dropdown-header-flecha-derecha,
.dropdown-header-flecha-arriba {
    margin-left: auto;
}

.dropdown-header-flecha-arriba {
    display: none;
}

.submenu {
    display: none;
    flex-direction: column;
    position: relative;
    color: var(--clr-negro);
    padding: 0.5em 0;
    border-radius: 4px;
    text-align: left;
}

.dropdown-item.open .submenu {
    display: flex;
    border-bottom: 1px solid white;
}

.submenu a {
    text-decoration: none;
    color: var(--clr-negro);
    font-size: var(--fs-mobile-5);
    padding: 0.5em 0;
    font-family: fuente2;
}

.submenu a:hover {
    border-radius: 4px;
}

.dropdown-cerrar {
    display: flex;
    align-items: center;   
    width: 100%;
    padding: 1em 0 2em 0;
}

.dropdown-menu-linea {
    height: 1px; 
    background-color: var(--clr-rojo-intermedio);
    flex-grow: 1;
}

.dropdown-cruz {
    margin: 0 1em;
    cursor: pointer;
}

.dropdown-item.open .dropdown-header-flecha-derecha {
    display: none;
}

.dropdown-item.open .dropdown-header-flecha-arriba {
    display: block;
}

@media (min-width: 769px) {

    .top-background {
        margin-top: -10em;
        height: 50vh;
    }

    header {
        position: fixed;
        margin: 1em 2em;
        border-radius: 18px;
        background-color: var(--clr-gris);
        top: 0;
        left: 0;
        width: 95%;
        padding: 1em 3em;
    }

    .logo {
        height: 30px;
    }

    .nombre {
        display: block;
        color: var(--clr-rojo-intermedio);
        font-family: fuente1;
        margin-left: .9em;
        font-weight: bolder;
    }

    .boton {
        font-size: var(--fs-desktop-5);
    }

    .hamburguesa {
        display: none;
    }

    .icono-menu-desktop {
        display: block;
        order: -1;
        margin-right: 3em;
        cursor: pointer;
        width: 40px;
    }

    .cruz-desktop {
        display: none;
    }

    .dropdown-menu {
        top: 5.6em;
        left: 2em;
        width: 20%;
        height: auto;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        border-bottom-right-radius: 18px;
        border-bottom-left-radius: 18px;
        padding-top: 2em;
        max-height: 90vh;
        overflow-y: auto;
        box-sizing: border-box;
        scrollbar-width: none;
    }

    .dropdown-menu.active {
        border-top: 1px solid var(--clr-rojo-fuerte);
    }
    
    .dropdown-menu::-webkit-scrollbar {
        display: none;
    }

    .dropdown-header {
        border-bottom: none;
        padding: .3em 0;
    }

    .dropdown-item.open .submenu {
        border-bottom: none;
    } 
    
    .dropdown-cerrar {
        display: none;
    }
}