/* --------------- DOLAR MEP START --------------- */

.servicios-dolar-mep-container {   
    gap: 1em;
    margin: 4em auto 4em auto;    
    grid-auto-rows: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titulo"
    "precios";
}

.servicios-dolar-mep-texto {
    grid-area: titulo;
    padding: 0 1em;
}   

.servicios-dolar-mep-texto h3 {
    color: var(--clr-negro);
    font-size: var(--fs-mobile-2);
    font-weight: 800;
    font-family: fuente1;
    text-align: left;
}

.servicios-dolar-mep-precios {
    width: 100%;
    background-color: rgb(224, 233, 236, 0.6);
    grid-area: precios;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 4em auto 4em auto;
    padding: 2em 1em;
    grid-auto-rows: auto;
    grid-template-areas: 
    "servicios-dolar-mep-precio-box-compra servicios-dolar-mep-precio-box-venta"
    "servicios-dolar-mep-descripcion servicios-dolar-mep-descripcion"
    "servicios-dolar-mep-boton servicios-dolar-mep-boton";
}

.servicios-dolar-mep-precio-box-compra { grid-area: servicios-dolar-mep-precio-box-compra; }
.servicios-dolar-mep-precio-box-venta { grid-area: servicios-dolar-mep-precio-box-venta; }
.servicios-dolar-mep-precios-descripcion {grid-area: servicios-dolar-mep-descripcion; }

.servicios-dolar-mep-precios a { 
    grid-area: servicios-dolar-mep-boton; 
    max-width: 60%;
    margin: 0 auto;
}

.servicios-dolar-mep-precio-titulo,
.servicios-dolar-mep-precio {
    font-family: fuente1;
    font-size: var(--fs-mobile-3);
    font-weight: 700;
}

.servicios-dolar-mep-precio-titulo {
    color: var(--clr-rojo-intermedio);
}

.servicios-dolar-mep-precio {
    color: var(--clr-negro);
}

.servicios-dolar-mep-precios-descripcion p {
    color: var(--clr-celeste-oscuro);
    font-size: var(--fs-mobile-5);
    font-family: fuente2;
}

.servicios-dolar-mep-precios-descripcion ul {
    display: none;
}

/* --------------- DOLAR MEP END --------------- */

/* --------------- BENEFICIOS END --------------- */

.beneficios-container {
    margin: 4em auto 4em auto;
    padding: 2em 1em;
}

.beneficios-texto h3 {
    color: var(--clr-negro);
    font-size: var(--fs-mobile-3);
    font-weight: 800;
    font-family: fuente1;
    margin-bottom: 2em;
}

.beneficios-card {
    display: flex;
    position: relative;
    background-color: var(--clr-gris);
    padding: 1em;
    margin: 1em auto 0 auto;
    border-radius: 10px;
    z-index: 1;
    align-items: center;
    gap: 1em;
    text-align: left;
    background-image: url("../img/lo_que_te_ofrecemos/fondo_beneficios.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 300px;
}

.beneficios-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 1.5px;
    background: linear-gradient(to bottom right, var(--clr-gris), #dbdbdb); /* Diagonal gradient */
    z-index: -1;
    mask: linear-gradient(var(--clr-gris) 0 0) content-box, linear-gradient(#000 0 0);
    mask-composite: exclude;
    -webkit-mask: linear-gradient(var(--clr-gris) 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
}

.beneficios-descripcion {
    color: var(--clr-celeste-oscuro);
    font-family: fuente2;
    font-size: var(--fs-mobile-5);
}

/* --------------- BENEFICIOS END --------------- */

/* CARDS */

.servicios-inversion {
    padding: 0 1em;
    max-width: 1100px;
    margin: 0 auto;
}

.servicios-inversion-texto {
    margin-bottom: 2em;
}

.servicios-inversion-texto h3 {
    color: var(--clr-celeste-oscuro);
    font-family: fuente1;
    font-size: var(--fs-mobile-3);
    margin-bottom: .5em;   
}

.servicios-inversion-subtitulo {
    color: var(--clr-negro);
    font-family: fuente2;
    font-size: var(--fs-mobile-5);
}

.servicios-inversion-container {
    display: block;
    margin: 0 auto;
    padding: 1em; 
    box-sizing: border-box;
    justify-content: center;
}

.servicios-inversion-box {
    display:flex;
    gap: 1em;
}

.servicios-inversion-card {
    display: none;
    position: relative;
    transition: opacity 0.3s ease-in-out;
    background-color: var(--clr-gris, #f0f0f0);
    padding: 1em;
    overflow-wrap: break-word;
    border: 1px solid transparent;
    border-radius: 18px;
    z-index: 1;
    height: 180px;
    width: 300px;
    margin: 0 auto;
}

.servicios-inversion-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius:18px;
    padding: 2px;
    background: linear-gradient(to bottom, #AC282880, #E0E9EC);
    z-index: -1;
    mask: linear-gradient(var(--clr-gris) 0 0) content-box, linear-gradient(#000 0 0);
    mask-composite: exclude;
    -webkit-mask: linear-gradient(var(--clr-gris) 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
}

.servicios-inversion-card.activo {
    display: block;
    opacity: 1;
}

.servicios-inversion-card.activo {
    display: block;
    transform: translateX(0);
}

.servicios-inversion-card-encabezado {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.servicios-inversion-card-encabezado-titulo {
    font-family: fuente1;
    color: var(--clr-negro);
    font-size: var(--fs-mobile-3);
    font-weight: 700;
}

.servicios-inversion-card-encabezado-numero {
    font-family: fuente1;
    color: var(--clr-celeste);
    font-size: var(--fs-mobile-0);
    font-weight: 700;
    margin-left: .1em;
}

.servicios-inversion-card-encabezado img {
    margin: 0 auto;
    max-width: 50px;
}

.servicios-inversion-card-subtitulo {
    text-align: left;
    font-family: fuente2;
    color: var(--clr-negro);
    font-size: var(--fs-mobile-5);
}

.servicios-inversion-puntos-container {
    margin-top: 2em;
    text-align: center;
}

.servicios-inversion-punto {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: var(--clr-celeste-oscuro);
    border-radius: 50%;
    margin: 0 0.5em;
    cursor: pointer;
}

.servicios-inversion-punto.activo {
    background-color: var(--clr-celeste);
}

/* CARDS */

/* --------------- TEST START --------------- */

.test-container {
    margin: 4em auto 4em auto;
    padding: 2em 1em;
    background: rgb(226,59,44);
    background: linear-gradient(180deg, rgba(226,59,44,1) 26%, rgba(233,71,50,1) 48%, rgba(214,37,33,1) 75%);
}


.test-texto h3 {
    font-size: var(--fs-mobile-4);
    font-family: fuente1;
    margin-bottom: 1em;
    color: var(--clr-blanco);
}

.test-texto a {
    font-family: fuente2;
}

/* --------------- TEST END --------------- */

/* --------------- BENEFICIOS END --------------- */

.servicios-financiamiento-container {
    margin: 4em auto 4em auto;
    padding: 2em 2em;
}

.servicios-financiamiento-texto h3 {
    color: var(--clr-celeste-oscuro);
    font-size: var(--fs-mobile-3);
    font-weight: 700;
    font-family: fuente1;
    margin-bottom: 1em;
}

.servicios-financiamiento-texto p {
    color: var(--clr-negro);
    font-size: var(--fs-mobile-5);
    font-family: fuente2;
    max-width: 80%;
    margin: 0 auto 1em auto;
}

.servicios-financiamiento-box {
    margin: 0 auto;
    max-width: 1100px;
    justify-content: space-between;
    gap: 1em;
}

.servicios-financiamiento-card {
    display: flex;
    background-color: var(--clr-gris);
    padding: 1em;
    margin: 1em auto 0 auto;
    border-radius: 10px;
    align-items: center;
    text-align: left;
    gap: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.servicios-financiamiento-card img {
    max-width: 100px;
}

.servicios-financiamiento-descripcion {
    color: var(--clr-negro);
    font-family: fuente2;
    font-size: var(--fs-mobile-5);
}

/* --------------- BENEFICIOS END --------------- */

/* EMPEZA AHORA START */

.empeza-ahora {
    margin-bottom: 4em;
    align-items: center;
}

.empeza-ahora img {
    max-width: 100px;
}

.empeza-ahora p {
    font-family: fuente2;
    color: var(--clr-negro);
    font-size: var(--fs-mobile-3);
    font-weight: 700;
    max-width: 500px;
    margin: 1em auto .5em auto;
}

/* EMPEZA AHORA END */

/* Desktop */
@media (min-width: 769px) {

    .servicios-dolar-mep-container {
        padding: 0 2em;
        gap: 1em;
        margin-top: 10em;
        max-width: 1250px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "titulo precios";
    }

    .servicios-dolar-mep-texto h3 {
        font-size: var(--fs-desktop-1);
    }


    .servicios-dolar-mep-precios {
        border-radius: 18px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "servicios-dolar-mep-precio-box-compra servicios-dolar-mep-descripcion"
        "servicios-dolar-mep-precio-box-venta servicios-dolar-mep-descripcion"
        "servicios-dolar-mep-boton servicios-dolar-mep-boton";
    }

    .servicios-dolar-mep-precio-titulo,
    .servicios-dolar-mep-precio {
        font-size: var(--fs-desktop-3);
    }

    .servicios-dolar-mep-precios-descripcion p {
        display: none;
    }

    .servicios-dolar-mep-precios-descripcion ul {
        display: block;
    }

    .servicios-dolar-mep-precios-descripcion li {
        margin: 1em 0;
        text-align: left;
        font-family: fuente2;
        font-size: var(--fs-desktop-5);
        color: var(--clr-celeste-oscuro);
    }

    /* BENEFICIOS START */

    .beneficios-container {
        max-width: 1100px;
    }

    .beneficios-texto h3 {
        font-size: var(--fs-desktop-3);
    }

    .beneficios-box {
        gap: 1em;
        display: flex;
        justify-content: space-between;       
    }

    .beneficios-card {
        width: 300px;
        padding: 2em 1em;
    }

    .beneficios-descripcion {
        font-size: var(--fs-desktop-5);
    }

    /* BENEFICIOS END */

    /* SERVICIOS DE INVERSIÓN START */ 

    .servicios-inversion-texto {
        text-align: center;
        margin-bottom: 5em;
    }
    
    .servicios-inversion-texto h3 {
        font-size: var(--fs-desktop-3);
    }
    
    .servicios-inversion-card-subtitulo {
        font-size: var(--fs-desktop-5);
    }

    .servicios-inversion-container {
        justify-content: space-between;
        gap: 1em;
    }

    .servicios-inversion-box {
        margin-bottom: 6em;
    }
    
    .servicios-inversion-card {
        display: block;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    #servicios-inversion-card-4::before,
    #servicios-inversion-card-5::before,
    #servicios-inversion-card-6::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: -2px;
        padding: 2px;
        background: linear-gradient(to bottom, #E0E9EC, #AC282880);
        z-index: -1;
        mask: linear-gradient(var(--clr-gris) 0 0) content-box, linear-gradient(#000 0 0);
        mask-composite: exclude;
        -webkit-mask: linear-gradient(var(--clr-gris) 0 0) content-box, linear-gradient(#000 0 0);
        -webkit-mask-composite: xor;
        border-radius:18px;
    }

    
    .servicios-inversion-card-encabezado img {
        margin: -4em auto 0 auto;
        height: 130px;
        max-width: 130px;
    }

    .servicios-inversion-card-subtitulo {
        text-align: center;
    }


    .servicios-inversion-puntos-container {
        display: none;
    }

    /* SERVICIOS DE INVERSIÓN END */ 

    /* TEST DEL INVERSOR START */

    .test-texto h3 {
        font-size: var(--fs-desktop-4);
    }

    /* TEST DEL INVERSOR END */


    /* SERVICIOS FINANCIAMIENTO START */

    .servicios-financiamiento-box {
        display: flex;
    }

    .servicios-financiamiento-card img {
        max-width: none;
    }

    .servicios-financiamiento-texto h3 {
        font-size: var(--fs-desktop-3);
    }
    
    .servicios-financiamiento-texto p {
        font-size: var(--fs-desktop-5);
    }
       
    .servicios-financiamiento-descripcion {
        font-size: var(--fs-desktop-6);
    }

    /* SERVICIOS FINANCIAMIENTO END */
    
    /* EMPEZA AHORA START */

    .empeza-ahora {
        display: flex;
        justify-content: center;
        gap: 4em;        
    }

    .empeza-ahora img {
        max-width: 130px;
    }

    .empeza-ahora p {
        text-align: left;
        font-size: var(--fs-desktop-3);
        margin: 0 auto .5em auto;
    }

    /* EMPEZA AHORA END */

}
