html {
    box-sizing: border-box;
    font-family: var(--ff-serif);
    color: var(--clr-text);
    font-size: 16px;
}

@font-face {
    font-family: 'fuente1';
    src: url(../fonts/fuente1.otf);
}

@font-face {
    font-family: 'fuente2';
    src: url(../fonts/fuente2.ttf);
}

@font-face {
    font-family: 'fuente3';
    src: url(../fonts/fuente3.ttf);
}

:root {
    --clr-rojo-fuerte: #CB0E0E;
    --clr-rojo-intermedio: #E94732;
    --clr-rojo-oscuro: #280000;
    --clr-celeste: #00B7F3;
    --clr-celeste-oscuro: #0080BB;
    --clr-negro: #171818;
    --clr-gris: #E0E9EC;
    --clr-gris-oscuro: #647276;
    --clr-blanco: #FCFEFE;

    /* Fonts tamaño mobile */
    --fs-mobile-1: 2.8125rem; /* 45px */
    --fs-mobile-2: 2.25rem; /* 36px */
    --fs-mobile-3: 1.5rem; /* 24px */
    --fs-mobile-4: 1.125rem; /* 18px */
    --fs-mobile-5: 1rem; /* 16px */
    --fs-mobile-6: .875rem; /* 14px */
    --fs-mobile-7: .5625rem; /* 9px */

    /* Fonts tamaño desktop */
    --fs-desktop-1: 3.75rem; /* 60px */
    --fs-desktop-2: 3rem; /* 48px */
    --fs-desktop-3: 2.25rem; /* 36px */
    --fs-desktop-4: 1.5rem; /* 24px */
    --fs-desktop-5: 1.125rem; /* 18px */
    --fs-desktop-6: 1rem; /* 16px */
}

.rojo-fuerte{
    color: #D01A1C;
}

.rojo-intermedio{
    color: #E94732;
}

.rojo-oscuro {
    color: #280000;
}

.celeste {
    color: #00B7F3;
}

.celeste-oscuro {
    color: #0080BB;
}

.negro{
    color: #171818;
}

.gris{
    color: #E0E9EC;
}

.gris-oscuro{
    color: #647276;
}

.blanco {
    color: #FCFEFE;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

* {
    scroll-behavior: smooth;   
}

body {
    margin: 0;
    text-align: center;
    overflow-x: hidden;
}

h1, 
h2, 
h3, 
h4, 
p {
    margin: 0;
}

.boton-fondo-rojo-intermedio {
    text-decoration: none;
    color: var(--clr-blanco);
    background-color: var(--clr-rojo-intermedio);
    padding: .6em 1.4em;
    border-radius: 18px;   
    display: inline-block;
    margin-bottom: 1em;
    font-family: fuente2;
    font-size: var(--fs-mobile-5);
}

.boton-fondo-celeste {
    font-family: fuente2;
    color: var(--clr-blanco);
    background-color: var(--clr-celeste);
    padding: .6em .9em;
    border-radius: 18px;
    display: inline-block;
    font-size: var(--fs-mobile-5);
    text-decoration: none;
}

.boton-transparente-borde-rojo {
    font-family: fuente2;
    color: var(--clr-rojo-intermedio);
    border: 1px solid var(--clr-rojo-intermedio);
    padding: .6em .9em;
    border-radius: 18px;
    display: inline-block;
    font-size: var(--fs-mobile-5);
    cursor: pointer;
    text-decoration: none;
}

/* --------------- HOMEPAGE STYLES START --------------- */

/* --------------- HOME START --------------- */


.home-box {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    max-width: 1500px;
    grid-gap: 2em;
    width: 100%;
    margin: 4em auto 4em auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img"
    "container"
}


.home-img { 
    grid-area: img; 
    max-width: 200px;
    margin: 0 auto;
    width: 100%;
}

.home-container { 
    grid-area: container;
    background: linear-gradient(to right, rgb(252, 251, 251), rgb(236, 236, 236));
    border-radius: 18px;
    border: 1px solid rgb(226, 226, 226);
    padding: 1em;
    margin: 0 2em;
}

.home-titulo {
    line-height: 1.3em;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: var(--fs-mobile-1);
    font-family: fuente1;
    color: var(--clr-rojo-oscuro)
}

.home-descripcion {
    margin-bottom: .8em;
    color: var(--clr-negro);
    font-family: fuente2;
    font-size: var(--fs-mobile-5);
    line-height: 1.4rem;
}

.home-container p {
    font-size: var(--fs-mobile-4);
    color: var(--clr-celeste);
    font-weight: bolder;
    font-family: fuente1;
    margin-bottom: 1em;
}

/* --------------- HOME END --------------- */

/* --------------- DOLAR MEP START --------------- */

.dolar-mep-container {
    background-color: var(--clr-blanco);
}

.dolar-mep {
    width:90%;
    margin: 0 auto;
    padding: 1.5em;
    text-align: left;
    border: 4px solid lightblue;
    border-radius: 18px;
    background-color: var(--clr-gris);
    box-shadow: 
        inset 0 0 10px rgba(0, 0, 0, 0.2),
        0 4px 10px rgba(0, 0, 0, 0.15);
}

.dolar-mep-box {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "img texto"
}

.dolar-mep-img { 
    grid-area: img; 
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}

.dolar-mep-texto { grid-area: texto; }

.dolar-mep-titulo {
    line-height: 1.2em;
    margin-bottom: 1em;
    font-size: var(--fs-mobile-3);
    font-family: fuente1;
    color: var(--clr-negro); 
}

/* --------------- DOLAR MEP END --------------- */

/* --------------- ABRIR CUENTA START --------------- */
/* AJUSTAR TAMAÑOS COLORES ETC 
.abrir-cuenta {
    width:90%;
    margin: 0 auto;
    padding: 1.5em;
    text-align: left;
    border: 4px solid lightblue;
    border-radius: 18px;
    background-color: var(--clr-gris);
    box-shadow: 
        inset 0 0 10px rgba(0, 0, 0, 0.2),
        0 4px 10px rgba(0, 0, 0, 0.15);
}

.abrir-cuenta-box {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "img texto"
}

.abrir-cuenta-img { 
    grid-area: img; 
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}

.abrir-cuenta-texto { grid-area: texto; }

.abrir-cuenta-titulo {
    line-height: 1.2em;
    margin-bottom: 1em;
    font-size: 1.4rem;
    font-family: fuente1;
    color: var(--clr-negro); 
}

.abrir-cuenta-boton {
    font-family: fuente2;
    color: var(--clr-blanco);
    background-color: var(--clr-celeste);
    padding: .6em .9em;
    border-radius: 18px;
    display: inline-block;
    font-size: .8rem;
}
*/
/* --------------- ABRIR CUENTA END --------------- */

/* --------------- ACERCA DE START --------------- */

.acerca-de-container {
    background-color: var(--clr-gris);
}

.acerca-de {
    width:90%;
    margin: 4em auto;
    padding: 2em .5em;
    text-align: left;
}

.acerca-de-box {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    grid-gap: 1em;
    grid-template-columns: 1fr .5fr;
    grid-template-areas: 
    "texto img"
}

.acerca-de-img { 
    grid-area: img; 
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}

.acerca-de-texto { grid-area: texto; }

.acerca-de-titulo {
    line-height: 1.2em;
    margin-bottom: 1em;
    font-size: var(--fs-mobile-3);
    font-family: fuente1;
    color: var(--clr-negro); 
}

.acerca-de-descripcion {
    margin-bottom: 1rem;
    color: var(--clr-negro);
    font-family: fuente2;    
    font-size: var(--fs-mobile-5);
    line-height: 1.4rem;
}

/* --------------- ACERCA DE END --------------- */

/* --------------- OPERA START --------------- */

.opera-container {
    background-color: var(--clr-blanco);
}

.opera-box {
    display: inline-grid;
    gap: 2em;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img"
    "texto"
}

.opera-texto { 
    grid-area: texto; 
    text-align: center;
}

.opera-titulo {
    line-height: 1.5em;
    margin-bottom: 1em;
    font-size: var(--fs-mobile-3);
    font-family: fuente1;
    letter-spacing: 2px;
    color: var(--clr-celeste-oscuro);
}

.opera-descripcion {
    color: var(--clr-black);
    font-family: fuente2;
    font-size: var(--fs-mobile-5);
    line-height: 1.4rem;
    width: 75%;
    margin: 0 auto 2rem auto;
}


.opera-img { 
    grid-area: img; 
    max-width: 200px;
    margin: 0 auto;
    width: 100%;
}

/* --------------- OPERA END --------------- */

/* Desktop */
@media (min-width: 769px) {
    
    .boton-transparente-borde-rojo,
    .boton-fondo-celeste,
    .boton-fondo-rojo-intermedio {
        font-size: var(--fs-desktop-5);
    }

    /* --------------- HOME START --------------- */

    .home-box {
        margin-top: 8em;
        text-align: left;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "container img";
    }

    .home-img { 
        max-width: 400px;
    }

    .home-titulo {
        font-size: var(--fs-desktop-2);
    }

    .home-descripcion {
        font-size: var(--fs-desktop-5);
    }


    /* --------------- HOME END --------------- */

    /* --------------- DOLAR MEP START --------------- */

    .dolar-mep-titulo {
        font-size: var(--fs-desktop-3);
    }
    
    /* --------------- DOLAR MEP END --------------- */

    /* --------------- ACERCA DE START --------------- */

    .acerca-de {
        max-width: 800px;
    }

    .acerca-de-box {
        gap: 4em;
    }

    .acerca-de-titulo {
        font-size: var(--fs-desktop-3);
    }

    .acerca-de-descripcion {
        font-size: var(--fs-desktop-5);
    }

    /* --------------- ACERCA DE END --------------- */

    /* --------------- OPERA END --------------- */

    .opera-titulo {
        font-size: var(--fs-desktop-3);
    }
    
    .opera-descripcion {
        font-size: var(--fs-desktop-5);
    }

    /* --------------- OPERA END --------------- */
}