html {
    box-sizing: border-box;
    font-family: var(--ff-serif);
    color: var(--clr-text);
    font-size: 16px;
}

@font-face {
    font-family: 'fuente1';
    src: url(../fonts/fuente1.ttf);
}

@font-face {
    font-family: 'fuente2';
    src: url(../fonts/fuente2.ttf);
}

@font-face {
    font-family: 'fuente3';
    src: url(../fonts/fuente3.ttf);
}

:root {
    --clr-rojo-fuerte: #D01A1C;
    --clr-rojo-intermedio: #E94732;
    --clr-rojo-oscuro: #280000;
    --clr-celeste: #27B4E9;
    --clr-celeste-oscuro: #0080BB;
    --clr-negro: #171818;
    --clr-gris: #E0E9EC;
    --clr-gris-intermedio: #B0B0B0;
    --clr-gris-oscuro: #64858F;
    --clr-blanco: #FDFEFE;

    /* Fonts tamaño mobile */
    --fs-mobile-0: 3.75rem;
    --fs-mobile-1: 2.8125rem; /* 45px */
    --fs-mobile-2: 2.25rem; /* 36px */
    --fs-mobile-3: 1.5rem; /* 24px */
    --fs-mobile-4: 1.125rem; /* 18px */
    --fs-mobile-5: 1rem; /* 16px */
    --fs-mobile-6: .875rem; /* 14px */
    --fs-mobile-7: .5625rem; /* 9px */

    /* Fonts tamaño desktop */
    --fs-desktop-1: 3.75rem; /* 60px */
    --fs-desktop-2: 3rem; /* 48px */
    --fs-desktop-3: 2.25rem; /* 36px */
    --fs-desktop-4: 1.5rem; /* 24px */
    --fs-desktop-5: 1.125rem; /* 18px */
    --fs-desktop-6: 1rem; /* 16px */
    --fs-desktop-7: .875rem; /* 14px */
}

.rojo-fuerte{
    color: var(--clr-rojo-fuerte);
}

.rojo-intermedio{
    color: var(--clr-rojo-intermedio);
}

.rojo-oscuro {
    color: var(--clr-rojo-oscuro);
}

.celeste {
    color: var(--clr-celeste);
}

.celeste-oscuro {
    color: var(--clr-celeste-oscuro);
}

.negro{
    color: var(--clr-negro);
}

.gris{
    color: var(--clr-gris);
}

.gris-oscuro{
    color: var(--clr-gris-oscuro);
}

.blanco {
    color: var(--clr-blanco);
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

* {
    scroll-behavior: smooth;   
}

body {
    margin: 0;
    text-align: center;
    overflow-x: hidden;
}

h1, 
h2, 
h3, 
h4, 
p {
    margin: 0;
}

.boton-fondo-rojo-intermedio {
    text-decoration: none;
    color: var(--clr-blanco);
    background-color: var(--clr-rojo-intermedio);
    padding: .6em 1.4em;
    border-radius: 18px;   
    display: inline-block;
    margin-bottom: 1em;
    font-family: fuente2;
    font-size: var(--fs-mobile-5);
}

.boton-fondo-celeste {
    font-family: fuente2;
    color: var(--clr-blanco);
    background-color: var(--clr-celeste);
    padding: .6em .9em;
    border-radius: 18px;
    display: inline-block;
    font-size: var(--fs-mobile-5);
    text-decoration: none;
}

.boton-transparente-borde-rojo {
    font-family: fuente2;
    color: var(--clr-rojo-intermedio);
    border: 1px solid var(--clr-rojo-intermedio);
    padding: .6em .9em;
    border-radius: 18px;
    display: inline-block;
    font-size: var(--fs-mobile-5);
    cursor: pointer;
    text-decoration: none;
}

/* --------------- HOMEPAGE STYLES START --------------- */

/* --------------- HOME START --------------- */


.home-box {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    max-width: 1300px;
    grid-gap: 2em;
    width: 100%;
    margin: 4em auto 4em auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img"
    "container"
}


.home-img { 
    grid-area: img; 
    max-width: 200px;
    margin: 0 auto;
    width: 100%;
}

.home-container { 
    grid-area: container;
    background: linear-gradient(to right, rgb(252, 251, 251), rgb(236, 236, 236));
    border-radius: 18px;
    border: 1px solid rgb(226, 226, 226);
    padding: 1em;
    margin: 0 2em;
}

.home-titulo {
    line-height: 1.3em;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: var(--fs-mobile-1);
    font-family: fuente1;
    color: var(--clr-rojo-oscuro);
    font-weight: 800;
}

.home-descripcion {
    margin-bottom: .8em;
    color: var(--clr-negro);
    font-family: fuente2;
    font-size: var(--fs-mobile-5);
    line-height: 1.4rem;
}

.home-container p {
    font-size: var(--fs-mobile-4);
    color: var(--clr-celeste);
    font-weight: bolder;
    font-family: fuente1;
    margin-bottom: 1em;
}

/* --------------- HOME END --------------- */

/* --------------- DOLAR MEP START --------------- */

.dolar-mep-container {
    background-color: var(--clr-blanco);
    background-image: url("../img/index/fondo_index_dolar_mep.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.dolar-mep {
    max-width: 1100px;
    width: 90%;
    margin: 2em auto 0 auto;
    padding: 1.5em;
    text-align: left;
    border: 4px solid lightblue;
    border-radius: 18px;
    background-color: var(--clr-gris);
    box-shadow: 
        inset 0 0 10px rgba(0, 0, 0, 0.2),
        0 4px 10px rgba(0, 0, 0, 0.15);
}

.dolar-mep-box {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "img texto"
}

.dolar-mep-img { 
    grid-area: img; 
    max-width: 220px;
    margin: 0 auto;
    width: 100%;
}

.dolar-mep-texto { grid-area: texto; }

.dolar-mep-titulo {
    line-height: 1.2em;
    margin-bottom: 1em;
    font-size: var(--fs-mobile-3);
    font-family: fuente1;
    color: var(--clr-negro); 
}

/* --------------- TIPO ESPECIES START --------------- */

.tipos-especies {
    padding-block: 8px;
    overflow: hidden;
    user-select: none;
    --gap: -1px;
    display: flex;
    gap: var(--gap);
    margin-top: 4em;   
    border-bottom: 1px solid var(--clr-rojo-intermedio);
}

.tipos-especies ul {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    animation: scroll 20s linear infinite;
    padding:0;
}

.tipo-especie {
    color: var(--clr-blanco);
    font-size: var(--fs-mobile-6);
    font-family: fuente2;
    width: 20px;
    padding: 1em;
    white-space: res;
}

.tipo-especie-espacio-blanco {
    width: 0;
    padding: 0;
}

.tipos-especies:hover ul {
    animation-play-state: paused;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

/* --------------- TIPO ESPECIES END --------------- */

/* --------------- DOLAR MEP END --------------- */

/* --------------- OLA INFERIOR DOLAR MEP START --------------- */

.ola-inferior-dolar-mep {
    background-image: url('../img/index/fondo_index_dolar_mep2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 20vh;
}

/* --------------- OLA INFERIOR DOLAR MEP END --------------- */

/* --------------- ABRIR CUENTA START --------------- */

.abrir-cuenta {
    padding: 0 1em;
    max-width: 1100px;
    margin: 0 auto;
}

.abrir-cuenta-texto {
    text-align: left;
    margin-bottom: 2em;
}

.abrir-cuenta-epigrafe {
    color: var(--clr-negro);
    font-family: fuente2;
    font-size: var(--fs-mobile-6);
}

.abrir-cuenta-texto h3 {
    color: var(--clr-celeste-oscuro);
    font-family: fuente1;
    font-size: var(--fs-mobile-3);
    margin-bottom: .5em;   
}

.abrir-cuenta-subtitulo {
    color: var(--clr-negro);
    font-family: fuente2;
    font-size: var(--fs-mobile-5);
}

.abrir-cuenta-container {
    display: flex;
    margin: 0 auto;
    padding: 1em; 
    box-sizing: border-box;
    justify-content: center;
}

.abrir-cuenta-card {
    display: none;
    transition: opacity 0.3s ease-in-out;
    background-color: var(--clr-gris, #f0f0f0);
    border: 2px solid var(--clr-celeste, #00B7F3);
    border-radius: 18px;
    padding: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    overflow-wrap: break-word; /* Handle long text gracefully */
}

.abrir-cuenta-card.activo {
    display: block;
    opacity: 1;
}

.abrir-cuenta-card.activo {
    display: block;
    transform: translateX(0);
}

.abrir-cuenta-card-encabezado {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    background-image: url("../img/index/fondo_cards_pasos.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.abrir-cuenta-card-encabezado-titulo {
    font-family: fuente1;
    color: var(--clr-negro);
    font-size: var(--fs-mobile-3);
    font-weight: 700;
}

.abrir-cuenta-card-encabezado-numero {
    font-family: fuente1;
    color: var(--clr-celeste);
    font-size: var(--fs-mobile-0);
    font-weight: 700;
    margin-left: .1em;
}

.abrir-cuenta-card-encabezado img {
    margin-left: auto;
    max-width: 50px;
}

.abrir-cuenta-card-subtitulo {
    text-align: left;
    font-family: fuente2;
    color: var(--clr-negro);
    font-size: var(--fs-mobile-5);
}

.abrir-cuenta-flecha {
    display:none;
}

.abrir-cuenta-puntos-container {
    text-align: center;
}

.abrir-cuenta-punto {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: var(--clr-celeste-oscuro);
    border-radius: 50%;
    margin: 0 0.5em;
    cursor: pointer;
}

.abrir-cuenta-punto.activo {
    background-color: var(--clr-celeste);
}

.abrir-cuenta a {
    margin-top: 2em;
}
/* --------------- ABRIR CUENTA END --------------- */

/* --------------- ACERCA DE START --------------- */

.acerca-de-container {
    background-color: var(--clr-gris);
}

.acerca-de {
    width:90%;
    margin: 4em auto;
    padding: 4em .5em;
    text-align: left;
}

.acerca-de-box {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    grid-gap: 1em;
    grid-template-columns: 1fr .5fr;
    grid-template-areas: 
    "texto img"
}

.acerca-de-img { 
    grid-area: img; 
    max-width: 150px;
    margin: 0 auto;
    width: 100%;
}

.acerca-de-texto { grid-area: texto; }

.acerca-de-titulo {
    line-height: 1.2em;
    margin-bottom: 1em;
    font-size: var(--fs-mobile-3);
    font-family: fuente1;
    color: var(--clr-negro); 
}

.acerca-de-descripcion {
    margin-bottom: 1rem;
    color: var(--clr-negro);
    font-family: fuente2;    
    font-size: var(--fs-mobile-5);
    line-height: 1.4rem;
}

/* --------------- ACERCA DE END --------------- */

/* --------------- OPERA START --------------- */

.opera-container {
    background-color: var(--clr-blanco);
    margin-bottom: 4em;
}

.opera-box {
    align-items: center;
    max-width: 800px;
    display: inline-grid;
    gap: 2em;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img"
    "texto"
}

.opera-texto { 
    grid-area: texto; 
    text-align: center;
    margin: 0 1em;
}

.opera-titulo {
    line-height: 1.5em;
    margin-bottom: 1em;
    font-size: var(--fs-mobile-3);
    font-family: fuente1;
    letter-spacing: 2px;
    color: var(--clr-celeste-oscuro);
}

.opera-descripcion {
    color: var(--clr-black);
    font-family: fuente2;
    font-size: var(--fs-mobile-5);
    line-height: 1.4rem;
    margin-bottom: 1em;
}

.opera-img { 
    grid-area: img; 
    max-width: 200px;
    margin: 0 auto;
    width: 100%;
}

/* --------------- OPERA END --------------- */

/* Desktop */
@media (min-width: 769px) {
        
    .boton-transparente-borde-rojo,
    .boton-fondo-celeste,
    .boton-fondo-rojo-intermedio {
        font-size: var(--fs-desktop-5);
    }

    .boton-fondo-rojo-intermedio {
        padding: .6em 5em;
    }

    /* --------------- HOME START --------------- */

    .home-box {
        max-width: 1100px;
        margin-top: 12em;
        text-align: left;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "container img";
    }

    .home-img { 
        max-width: 350px;
    }

    .home-titulo {
        font-size: var(--fs-desktop-2);
    }

    .home-descripcion {
        font-size: var(--fs-desktop-5);
    }


    /* --------------- HOME END --------------- */

    /* --------------- DOLAR MEP START --------------- */

    .dolar-mep {
        max-width: 800px;
    }

    .dolar-mep-titulo {
        font-size: var(--fs-desktop-3);
    }

    /* --------------- TIPO ESPECIES START --------------- */

    .tipo-especie {
        font-size: var(--fs-desktop-6);
    }
    
    /* --------------- TIPO ESPECIES END --------------- */

    /* --------------- DOLAR MEP END --------------- */

    /* --------------- DOLAR MEP END --------------- */
    
    .ola-inferior-dolar-mep {
        height: 20vh;
    }

    /* --------------- DOLAR MEP END --------------- */

    
    /* --------------- ABRIR CUENTA START --------------- */
    
    /* --------------- ABRIR CUENTA END --------------- */

    .abrir-cuenta-texto {
        text-align: center;
    }

    .abrir-cuenta-epigrafe {
        font-size: var(--fs-desktop-6);
    }
    
    .abrir-cuenta-texto h3 {
        font-size: var(--fs-desktop-3);
    }
    
    .abrir-cuenta-subtitulo {
        font-size: var(--fs-desktop-5);
    }

    .abrir-cuenta-container {
        justify-content: space-between;
        gap: 1em;
    }

    .abrir-cuenta-card {
        display: block;
    }

    .abrir-cuenta-flecha {
        display: block;
    }

    .abrir-cuenta-puntos-container {
        display: none;
    }

    /* --------------- ACERCA DE START --------------- */

    .acerca-de {
        max-width: 800px;
    }

    .acerca-de-box {
        gap: 4em;
    }

    .acerca-de-titulo {
        font-size: var(--fs-desktop-3);
    }

    .acerca-de-descripcion {
        font-size: var(--fs-desktop-5);
    }

    /* --------------- ACERCA DE END --------------- */

    /* --------------- OPERA END --------------- */

    .opera-box {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "img texto";
    }

    .opera-texto { 
        text-align: left;
    }

    .opera-titulo {
        font-size: var(--fs-desktop-3);
        margin-bottom: .5em;
    }
    
    .opera-descripcion {
        font-size: var(--fs-desktop-5);
    }

    .opera-img { 
        max-width: 250px;
    }
    
    /* --------------- OPERA END --------------- */
}