#terminos-condiciones-table-container, 
.terminos-condiciones-container {
    max-width: 1500px;
}

/* --------------- terminos-condiciones START --------------- */

.terminos-condiciones-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 0 2em;
    margin: 6em auto;
    grid-auto-rows: auto;
}

.terminos-condiciones-texto {
    text-align: left;
}

.terminos-condiciones-texto h3{
    font-family: fuente1;
    color: var(--clr-negro);
    font-size: var(--fs-mobile-2);
    margin: .8em 0;
    font-weight: 800;
}

.terminos-condiciones-texto h4 {
    font-family: fuente1;
    color: var(--clr-negro);
    font-size: var(--fs-mobile-4);
    margin: 1em 0;
    font-weight: 700;
}

.terminos-condiciones-texto h5 {
    font-family: fuente1;
    color: var(--clr-negro);
    font-size: var(--fs-mobile-5);
    margin: 1em 0;
    font-weight: 700;
}

.terminos-condiciones-texto p, .terminos-condiciones-texto li {
    font-size: var(--fs-mobile-6);
    color: var(--clr-negro);
    font-family: fuente2;
    font-weight: 400;    
}

.btn-condiciones-generales {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.politicas-privacidad-texto {
    margin: 1em 0;
}

.tyc-link {
    color: var(--clr-negro);
    text-decoration: underline;
}

/* --------------- terminos-condiciones END --------------- */

/* Desktop */
@media (min-width: 1200px) {
    .terminos-condiciones-container {
        margin-top: 12em;
    }

    .terminos-condiciones-texto h3 {
        font-size: var(--fs-desktop-2);
    }

    .terminos-condiciones-texto h4 {
        font-size: var(--fs-desktop-4);
    }

    .terminos-condiciones-texto h5 {
        font-size: var(--fs-desktop-5);
    }

    .terminos-condiciones-texto p, .terminos-condiciones-texto li {
        font-size: var(--fs-desktop-6);
    }

    .terminos-condiciones-texto a {
        padding: .6em 0;
    }
}
