#terminos-condiciones-table-container, 
.terminos-condiciones-container {
    max-width: 1500px;
}

/* --------------- terminos-condiciones START --------------- */

.terminos-condiciones-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 0 2em;
    margin: 6em auto;
    grid-auto-rows: auto;
}

.terminos-condiciones-texto {
    text-align: left;
}

.terminos-condiciones-texto h3{
    font-family: fuente1;
    color: var(--clr-negro);
    font-size: 2rem;
    margin: .8em 0;
    font-weight: 800;
}

.terminos-condiciones-texto h4 {
    font-family: fuente1;
    color: var(--clr-negro);
    font-size: 1.1rem;
    margin-bottom: .4em;
    font-weight: 700;
}

.terminos-condiciones-texto p {
    font-size: .9rem;
    color: var(--clr-negro);
    font-family: fuente2;
    margin-bottom: 1.4em;
    font-weight: 400;
}

.terminos-condiciones-texto a {
    color: var(--clr-rojo-fuerte);
}

/* --------------- terminos-condiciones END --------------- */

/* Desktop */
@media (min-width: 1200px) {
    .terminos-condiciones-container {
        margin-top: 12em;
    }
}
